.achievs {
  position: relative;
  background-color: #ffefe7;
  padding: 34px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(#FFEFE7 0% 20%, #E5C95C 20%, #FA6334 ); */
  /* min-height: 2954px; */
}
.achievs__back {
  position: absolute;
  bottom: 0;
  left: 0;
}
.achievs__title {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.achievs__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  margin-bottom: 60px;
}
.achievs__card {
  margin: 0;
  max-width: 855px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.achievs__description {
  font-size: 26px;
  font-weight: 400;
}

.achievs__span {
  font-size: 44px;
  font-weight: 700;
}
.achievs__img-wrp {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.achievs__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.achievs__link {
  margin: auto;
  color: #FD9734;
text-align: center;
font-size: 43px;
font-weight: 700;
line-height: 120%;
text-transform: uppercase;
padding: 15px 174px;
border-radius: 14px;
background: #FFF;
transition: .3s;

}
.achievs__link:hover {

}

@media screen and (max-width: 1500px) {
  .achievs {
    padding: 24px 24px 12px 24px;
  }
}

@media screen and (max-width: 960px) {
  .achievs__title {
    font-size: 38px;
  }
    .achievs__list {
    margin-bottom: 34px;
  }
  .achievs__description {
    font-size: 13px;
  }

  .achievs__span {
    font-size: 21px;
  }
  .achievs__link {
    font-size: 30px;
    border-radius: 13px;
    padding: 18px 165px;
  }

}

@media screen and (max-width: 540px) {
  .achievs__title {
    font-size: 16px;
    margin-bottom: 7px;
  }
      .achievs__list {
    margin-bottom: 11px;
  }
  .achievs__description {
    font-size: 8px;
  }

  .achievs__span {
    font-size: 13px;
  }
  .achievs__link {
    font-size: 12px;
    border-radius: 7px;
    padding: 8px 70px;
  }
}
