.intro {
  position: relative;

  background: url(../images/back_intro.png) top left / contain no-repeat;
    /* background: url(../images/back_intro.png) top left / 100% 100% no-repeat; */
  background-color: #ffefe7;
  margin: auto;
  padding: 35px 32px 50px 32px;
  overflow: hidden;
}
.intro__back {
  position: absolute;
}

.intro__back_left {
  top: -44px;
  left: -352px;
  max-width: 837px;
  max-width: 837px;
  max-height: 1903px;
  transform: rotate(12deg);
  
  }

  .intro__back_right {
    top: -65px;
  right: -198px;
  max-width: 454px;
  max-height: 1816px;
  transform: rotate(-9deg);

  }

.intro__content {
  position: relative;
  margin: auto;
  max-width: 928px;
  z-index: 2;
}
.intro__header {
  display: flex;
  gap: 38px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
}

.intro__logo {
  width: 249px;
}
.intro__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  padding-left: 70px;
  border-left: 1px rgba(70, 70, 70, 0.5) solid;
}

.intro__span {
  background: radial-gradient(
    49.61% 49.51% at 50.08% 50.5%,
    #f7e089 0%,
    #e5c95c 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro__img-wrp {
  max-width: 944px;
  margin-bottom: 86px;
}
.intro__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.intro__subtitle {
  max-width: 657px;
  font-size: 44px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  background: radial-gradient(
    49.61% 49.51% at 50.08% 50.5%,
    #f7e089 0%,
    #e5c95c 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 31px;
}

.intro__text {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 17px;
}
.intro__text:nth-of-type(2) {
  margin-bottom: 13px;
}
.intro__text-bold {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 64px;
}

.intro__button {
  display: flex;
  gap: 6px;
  border-radius: 14px;
  background: radial-gradient(130px 82px at 50% 50%, #f9e38e 0%, #e5c95c 100%);
  color: #ffefe7;
  text-align: center;
  font-size: 29px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border: none;
  padding: 24px 91px;
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
}
.intro__button:hover {
  opacity: 0.6;
}
.intro__button-txt {
  color: #ffefe7;
}

@media screen and (max-width: 1500px) {
  .intro {
   background: #ffefe7;

}
.intro__img-wrp {
 margin-bottom: 65px;
}
}

@media screen and (max-width: 960px) {
.intro__logo {
  width:258px;
}
.intro__header {
  flex-direction: column;
  gap: 53px;
  margin-bottom: 22px;
}
.intro__title {
  max-width: 590px;
border-left: none;
padding: 0;


}
.intro__img-wrp {
  margin-bottom: 22px;
}

 .intro__cake {
  display: none;
 }
 .intro__text {
font-size: 16px;
 }
 .intro__text-bold {
  font-size: 21px;
  margin-bottom: 24px;
 
 }
 .intro__button {
  font-size: 25px;
  padding: 21px 80px;
 }
}

@media screen and (max-width: 540px) {
  .intro {
    padding: 24px;
    
  }
  .intro__header {
    gap: 33px;
  }
.intro__logo {
  width: 180px;
}
.intro__title {
  font-size: 20px;
}
.intro__subtitle {
  font-size: 20px;
  margin-bottom: 8px;
}
.intro__text {
  font-size: 12px;
  margin-bottom: 7px;
}
.intro__text-bold  {
  font-size: 14px;
  margin-bottom: 13px;
}
 .intro__button {
  font-size: 15px;
  padding: 13px 48px;
 }
 .intro__smile {
  width: 18px;
  height: 18px;
 }
}
