.presents {
  background: #fbfbfb;
  background: url(../images/present_orange.png) top right / 278px no-repeat,
    url(../images/present_yellow.png) center left / 261px no-repeat;
  padding: 66px 32px 45px 32px;
  /* overflow: hidden; */
}
.presents__content {
  max-width: 939px;
  margin: auto;
}
.presents__cards {
  display: flex;
  gap: 7px;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
}
.presents__main-present {
  max-width: 365px;
  width: 100%;
  border-radius: 32px 32px 64px 64px;
  box-shadow: 0px 27.10726px 33.36277px 0px rgba(70, 70, 70, 0.17);
  padding-top: 202px;
  background-image: url(../images/hands.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.presents__card-content {
  border: 7px solid #E5C95C;
  border-radius: 7px;
  border-radius: 62px;
  background: #fff;
  padding: 28px 12px 22px 12px;
}
.presents__card-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 80px;
  text-align: center;
}

.presents__card-txt {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 133px;
}
.presents__button {
  width: 100%;
  margin: auto;
  padding: 22px 0px;
  text-align: center;
  background: radial-gradient(130px 82px at 50% 50%, #f9e38e 0%, #e5c95c 100%);
  color: #ffefe7;
  font-size: 21px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 14px;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}
.presents__button:hover {
  opacity: 0.6;
}
.simple-button {
  padding: 18px 0;
  font-size: 16px;
  border-radius: 15px;
  background: radial-gradient(
    130px 82px at 50% 50%,
    rgba(250, 99, 52, 0.71) 0%,
    #fa6334 100%
  );
}
.presents__list {
  display: flex;
  padding: 56px 0;
}
.presents__present {
  position: relative;
  border-radius: 32px;
  /* background-image: url(../images/cabinet.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center; */
  
}
.presents__img-wrp {
position: relative;
width: 100%;
overflow: hidden;
border-radius: 32px;
z-index: -1;

}
.presents__img {
width: 100%;
object-fit: cover;
object-position: center;
}
.presents__text-cntr {
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 14.22183px 17.50379px 0px rgba(70, 70, 70, 0.17);
  padding: 21px 12px 18px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}
.presents__present-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.presents__present-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.presents__present-txt {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 118px;
}
.presents__labels {
  max-width: 226px;
  width: 100%;
  color: rgba(143, 143, 143, 0.97);
  font-size: 8px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}
.presents__label {
  max-width: 100px;
}
.presents__label-span {
  font-weight: 700;
}

.presents__progress {
  /* position: relative;
  width: 226px;
  height: 14px;
  border-radius: 32px;
  box-shadow: inset 0px 4px 3px rgba(70, 70, 70, 0.17);
  margin-bottom: 19px; */
}
.presents__progress::before {
  /* content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 14px;
  border-radius: 32px;
  background-color: #fa6334; */
}

.presents__slider {
  margin: 0;
  min-width: 358px;
}
.presents__offer {
  max-width: 939px;
  font-size: 26px;
  line-height: 120%;
}
.presents__offer-span {
  color: #fa6334;
}

@media screen and (max-width: 1500px) {
  .presents {
    background: #fbfbfb;
  }
}

@media screen and (max-width: 960px) {
  .presents {
    padding: 35px 24px 31px 24px;
  }
  .presents__main-present {
    border-radius: 20px;
  }
  .presents__card-content {
    border-radius: 40px;
    padding: 18px 10px 14px 10px;
  }
  .presents__card-title {
    font-size: 17px;
    margin-bottom: 41px;
  }
  .presents__card-txt {
    font-size: 12px;
    margin-bottom: 68px;
  }
  .presents__slider {
    margin: 0;
    
  }    
  .presents__button {
   font-size: 25px;
  }
  .presents__present {
    border-radius: 20px;
    
  }
  .presents__text-cntr {
    border-radius: 20px;
    padding: 12px 10px;
  }
  
}
@media screen and (max-width: 540px) {
  .presents {
    padding: 15px 24px 13px 24px;
    background: #fbfbfb;
    background: url(../images/present_orange.png) top right / 278px no-repeat,
      url(../images/present_yellow.png) center left / 261px no-repeat;
  }
  .presents__cards {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
  }
  .presents__main-present {
    border-radius: 30px;
  }
  .presents__card-content {
    border-radius: 31px;
    padding: 15px 8px 26px 8px;
  }
  .presents__card-title {
    font-size: 13px;
  }
  .presents__card-txt {
    font-size: 9px;
    margin-bottom: 5px;
  }
    .presents__button {
    border-radius: 7px;
    padding: 13px 0;
    font-size: 9px;
  }
  .presents__list {
    padding: 24px 0 24px 10px;

  }
  .presents__present-title, .presents__present-subtitle .presents__present-txt {
    font-size: 9px;
  }
 .presents__present-txt {
    
    margin-bottom: 73px;
  }
  .simple-button {
padding: 10px 24px;
font-size: 10px;

  }
}
